@import url(fonts.css);
@import url(reset.css); 
/* =================================================================== */
.wrapper {
   min-height: 100%;
   overflow: clip;
}
/* =================================================================== */
body {
   font-family: "Inter", sans-serif;
}
.container {
   max-width: 1200px;
   margin: 0 auto;
}
.header {
   width: 100%;
   min-height: 50px;
   background-color: #b3b4baab;
   padding: 20px;
   text-align: center;
   margin: 0px 0px 30px 0px;
}
.header h1 {
   font-size: 26px;
   text-align: center;
   margin: 0px 0px 20px 0px;
   font-weight: bold;
   text-shadow: 2px 2px 3px #feb825;
}
.nav {
   max-width: 600px;
   margin: 0 auto;
}
.nav__item {
   display: inline-block;
}
.nav__link {
   display: block;
   padding: 20px;
   color: darkgrey;
   border: 3px solid #feb825;
   background-color: #feb825;
   border-radius: 50px;
   text-transform: uppercase;
   font-weight: 600;
}
.nav__link:hover {
   border: 3px solid darkred;
   color: darkred;
}
.nav__item:not(:last-child) {
   margin-right: 100px;
}
/* =================================================================== */
.tr-2d,
.tr-3d {
   margin: 0px 0px 30px 0px;
   background-color: #e2e6e9;
   padding: 20px;
}
.tr-2d h2,
.tr-3d h2 {
   font-size: 20px;
   text-align: center;
   margin: 0px 0px 20px 0px;
   font-weight: bold;
   text-shadow: 2px 2px 3px #feb825;
}
.tr-2d p, 
.tr-3d p {
   font-size: 18px;
   text-align: center;
   margin: 0px 0px 20px 0px;
   font-weight: bold;
   text-align: center;
   padding: 30px 5px;
   position: relative;
   top: 50px;
}
.tr-2d__item, 
.tr-3d__item {
   display: inline-block;
}
.tr-2d__item:not(:last-child),
.tr-3d__item:not(:last-child) {
   margin-right: 30px;
}
.translate-2d, 
.translate-3d {
   width: 200px;
   height: 200px;
   background-color: #40403f;
}
.translate-2d__item {
   width: 200px;
   height: 200px;
   background-color: #feb825;
}
.translate-2d__item:hover {
   transform: translate(30px, 10px);
   transition: all 1s;
}
.scale-2d,
.scale-3d  {
   width: 200px;
   height: 200px;
   background-color: #40403f;
}
.scale-2d__item {
   width: 200px;
   height: 200px;
   background-color: #feb825;
}
.scale-2d__item:hover {
   transform: scale(0.5);
   transition: all 1s;
}
.rotate-2d,
.rotate-3d {
   width: 200px;
   height: 200px;
   background-color: #40403f;
}
.rotate-2d__item {
   width: 200px;
   height: 200px;
   background-color: #feb825;
}
.rotate-2d__item:hover {
   transform: rotate(15deg);
   transform-origin: 0 0;
   transition: all 1s;
}
.skew-2d {
   width: 200px;
   height: 200px;
   background-color: #40403f;
}
.skew-2d__item {
   width: 200px;
   height: 200px;
   background-color: #feb825;
}
.skew-2d__item:hover {
   transform: skew(-15deg, 0);
   transition: all 1s;
}
.matrix-2d, 
.matrix-3d {
   width: 200px;
   height: 200px;
   background-color: #40403f;
}
.matrix-2d__item {
   width: 200px;
   height: 200px;
   background-color: #feb825;
}
.matrix-2d__item:hover {
   transform: translate(10%, 15%) scale(0.4) rotate(20deg) skew(20deg, 10deg);
   transform-origin: 0 0;
   transition: all 1s;
}
.translate-3d {
   perspective: 500px;
}
.translate-3d__item {
   width: 200px;
   height: 200px;
   background-color: #feb825;
}
.translate-3d__item:hover {
   transform: translate3d(30px, 20px, 40px);
   transition: all 1s;
}
.scale-3d {
   perspective: 500px;
}
.scale-3d__item {
   width: 200px;
   height: 200px;
   background-color: #feb825;
}
.scale-3d__item:hover {
   transform: scale3d(-0.8, -0.8, 1);
   transition: all 1s;
}
.rotate-3d {
   perspective: 500px;
}
.rotate-3d__item {
   width: 200px;
   height: 200px;
   background-color: #feb825;
}
.rotate-3d__item:hover {
   transform: rotate3d(50, 0, 0, 45deg);
   transition: all 1s;
}
.matrix-3d {
   perspective: 500px;
}
.matrix-3d__item {
   width: 200px;
   height: 200px;
   background-color: #feb825;
}
.matrix-3d__item:hover {
   transform: translate3d(10%, 20%, 100px) scale3d(0.4, 0.6, 1) rotate3d(50, 0, 30, 20deg);
   transition: all 1s;
}
/* =================================================================== */
.picture {
   height: 1000px;
   width: 1200px;
   margin: 0 auto 50px;
   position: relative;
   padding: 50px;
   background-color: #9dd9f4;
   overflow: hidden;
}
.picture::before {
   content: "";
   width: 1600px;
   height: 800px;
   background-color: #e2e6e9;
   border: 10px solid #b3b4ba;
   position: absolute;
   right: -600px;
   top: 400px;
   border-radius: 50%;
   transform: rotate(-30deg);
   z-index: 1;
}
.sky {
}
.sun {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   background-color: rgb(242, 217, 28);
   position: relative;
   left: 50px;
   top: 20px;
   box-shadow: 0px 0px 50px #fecb31;
}
.cloud {
   width: 300px;
   height: 60px;
   border-radius: 50%;
   background-color: #e5f6fe;
   box-shadow: 0 0 50px #e3f4fc;

}
.cloud-1 {
   position: relative;
   left: 600px;
   bottom: 50px;
}
.cloud-2 {
   position: relative;
   left: 30px;
   bottom: 40px;
   transform: scaleX(-1);
}
.cloud span {
   width: 120px;
   height: 100px;
   border-radius: 50%;
   background-color: #e5f6fe;
   box-shadow: 0 0 50px #e3f4fc;
   position: absolute;
   left:70px;
   bottom:25px;
} 
.cloud::before {
   content: "";
   width: 60px;
   height: 60px;
   border-radius: 50%;
   background-color: #e5f6fe;
   box-shadow: 0 0 50px #e3f4fc;
   position: absolute;
   left: 30px;
   bottom:40px;
}
.cloud::after {
   content: "";
   width: 150px;
   height: 100px;
   border-radius: 50%;
   background-color: #e5f6fe;
   box-shadow: 0 0 50px #e3f4fc;
   position: absolute;
   left: 110px;
   bottom:0px;
}

.field {
   width: 2000px;
   height: 900px;
   background-color: #add036;
   border-radius: 50%;
   position: absolute;
   left: -100px;
   top: 290px;
   transform: rotate(-5deg);
}
/* =================================================================== */
.car {
   width: 620px;
   height: 500px;
   position: absolute;
   right: 20px;
   bottom: 100px;
   overflow: hidden;
   z-index: 5;
   padding: 10px;
}
.car::after {
   content: "";
   width: 600px;
   border-bottom: 50px solid #cecece;
   border-left: 50px solid transparent;
   border-right: 50px solid transparent;
   position: absolute;
   bottom: 60px;
}

/* =================================================================== */
.cabin {
   width: 520px;
   border-radius: 150px 150px 50px 50px;
   position: relative;
   left: 40px;
   top: 50px;
   border-bottom: 180px solid #fecb31;
   border-left: 50px solid transparent;
   border-right: 50px solid transparent;
}

.cabin__item {

}
.item-cabin {
   position: absolute;
}

.item-cabin__tablo {
   position: absolute;
   top: -20px;
   left: 170px;
   perspective: 250px;
   perspective-origin: center;
}
.item-cabin__tablo p {
   width: 80px;
   height: 32px;
   border: 3px solid #e68d28;
   font-size: 20px;
   font-weight: bold;
   text-align: center;
   border-radius: 10px;
   padding: 3px;
   background-color: #000000;
   color: #e68d28;
   transform: rotate3d(50, 0,0, 30deg);
}
.item-cabin__passengers {
   width: 450px;
   height: 110px;
   background: url("../img/passengers.jpg") 0 0 / cover no-repeat;
   position: absolute;
   left: -14px;
   top: 10px;
   border-radius:100px 100px 0 0;
   border-bottom: 8px solid #0e0609;
}
/* =================================================================== */
.mirrors {
}
.mirror {
   width: 60px;
   height: 40px;
   background-color: #40403f;
   border-radius: 50% 10px 10px 50%;
   position: relative;
   overflow: hidden;
   z-index: 1;
}
.mirror::before {
   content: "";
   width: 70px;
   height: 60px;
   border-radius: 50%;
   background-color: #636466;
   position: absolute;
   bottom: 15px;
   left: -20px;
}

.mirror--left {
   position: absolute;
   left: 0px;
   top: 160px;
}
.mirror--right {
   position: absolute;
   transform: scaleX(-1);
   right: 0px;
   top: 160px; 
}
/* =================================================================== */
.hood-top {
   width: 600px;
   height: 65px;
   background-color: #fecb31;
   border-radius: 100px 100px 0 0;
   position: relative;
   z-index: 2;
}
.hood-top__item {
   position: absolute;
   top: 10px;
   left: 75px;
   width: 450px;
   height: 20px;
   background-color: #fdb825;
   border-radius: 50%;
}
/* =================================================================== */
.hood-bottom {
   max-width: 600px;
   border-bottom: 120px solid #fecb31;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
   transform: scale(-1);
   border-radius: 200px 200px 0 0;
   position: relative;
   z-index: 2;
}
/* =================================================================== */
.headlight {
   width: 130px;
   height: 70px;
   background-color: #f7f9f8;
   border-radius: 25% 75% 81% 19% / 32% 73% 27% 68%;
   transform: rotate(190deg);
   position: absolute;
   top: 65px;
   right: 5px;
   border: 5px solid #f7f9f8;
   background-color: #bfbfbf;
   overflow: hidden;
}
.headlight::before {
   content: "";
   width: 120px;
   height: 120px;
   border-radius: 50%;
   background-color: #f7f9f8;
   position: absolute;
   top: 0px;
   left: 15px;
}
.hood-bottom__headlight-left {

}
.headlight__item {
   width: 45px;
   height: 45px;
   border-radius: 50%;
   border: 7px solid #afb1b0;
   position: absolute;
   bottom: 5px;
   right: 20px;
   overflow: hidden;
}
.headlight__item::after {
   content: "";
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background-color: #dcdcdc;
   position: absolute;
   bottom: -2px;
   right: -3px;
}
.hood-bottom__headlight-right {
   transform:  rotate(-10deg) scale(1,-1);
   position: absolute;
   top: 65px;
   left: 4px;
}

.headlight-bottom {
   width: 50px;
   height: 25px;
   background-color: #f7f9f8;
   border-top: 10px solid #bfbfbf;
   border-right: 5px solid transparent;
   position: relative;
   transform: skew(-15deg);
}
.headlight-bottom-left {
   position: absolute;
   right: 20px;
   top: 30px;
   border-radius: 30px 10px;
   transform: rotate(5deg) scaleX(-1);
}
.headlight-bottom-right {
   position: absolute;
   top: 30px;
   left: 20px;
   border-radius: 30px 10px;
   transform: rotate(-5deg); 
}
/* =================================================================== */
.hood-bottom__lattice {
   width: 300px;
   border-top: 80px solid #58565f;
   border-right: 30px solid transparent;
   border-left: 30px solid transparent;
   transform: scale(-1);
   border-radius: 30px 30px 50% 50%;
   position: absolute;
   top: 50px;
   left: 135px;
}
.hood-bottom__lattice span {
   display: block;
   width: 240px;
   border-bottom: 9px solid #272322;
   border-right: 5px solid transparent;
   border-left: 5px solid transparent;
   border-radius: 100px;
   transform: rotate(180deg);
   position: absolute;
   top: -45px;
   left: 0;
}
.hood-bottom__lattice::before {
   content: "";
   width: 100%;
   height: 10px;
   background-color: #272322;
   border-radius: 50% 50% 0 0;
   position: absolute;
   top: -65px;
   left: 0;
}
.hood-bottom__lattice::after {
   content: "";
   width: 90%;
   height: 10px;
   background-color: #272322;
   border-radius:0 0 50% 50%;
   position: absolute;
   top: -28px;
   left: 12px;
}
.hood-bottom__number {
   width: 200px;
   height: 40px;
   background: #ffffff url("../img/flag.jpg") 8px 0 / contain repeat-x;
   border: 5px solid #756c62;
   border-radius: 10px;
   position: absolute;
   bottom: -20px;
   top: -10px;
   transform: translateX(180px) scale(-1);
   overflow: hidden;
   z-index: 1;
}
.hood-bottom__decor {
   width: 450px;
   height: 10px;
   background-color: #f9921f;
   border-radius: 30px;
   position: absolute;
   left: 60px;
   top: 10px;
}
.wheel {
   position: relative;
}
.wheel__item {
   width: 70px;
   height: 100px;
   background-color: #000000;
   border-radius: 20px;
}
.wheel-left {
   position: absolute;
   left: 40px;
   top: -50px;
   z-index: 1;
}
.wheel-right {
   position: absolute;
   left: 490px;
   top: -50px;
   z-index: 1;
}
/* =================================================================== */
.footer {
   min-height: 50px;
   background-color: #63646629;
   text-align: center;
   padding: 20px;
   font-weight: 600;
   text-shadow: 1px 1px 1px #f9921f;
}
