/* -------------------------Підключення Гугл Фонтс ------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Poppins:600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500&display=swap");

/* -------------------------Підключення вручну ---------------------------------*/
@font-face {
   font-family: "Meutas";
   src: 
      url("../fonts/Meutas-Light.woff2") format("woff2"),
      url("../fonts/Meutas-Light.woff") format("woff");
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "Meutas";
   src: 
      url("../fonts/Meutas-Regular.woff2") format("woff2"),
      url("../fonts/Meutas-Regular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "Meutas";
   src: 
      url("../fonts/Meutas-Bold.woff2") format("woff2"),
      url("../fonts/Meutas-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "Moniqa";
   src: 
      url("../fonts/Moniqa-NarrowParagraph.woff2") format("woff2"),
      url("../fonts/Moniqa-NarrowParagraph.woff") format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: "Moniqa";
   src: 
      url("../fonts/Moniqa-LightParagraph.woff2") format("woff2"),
      url("../fonts/Moniqa-LightParagraph.woff") format("woff");
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}
/* ----------------------------------------------------------------------------*/