@import url(fonts.css);
@import url(reset.css); 
/* ============================Загальні стилі======================================= */
.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
}
[class*="__container"] {
   max-width: 1250px;
   padding: 0 15px;
   margin: 0 auto;
}
body {
   font-family: "Core Sans C", sans-serif;
}
.title {
   color: #3C4242;
   font-size: 34px;
   font-weight: 600;
   letter-spacing: 0.68px;
   display: flex;
   align-items: start;
   gap: 20px;
}
.title::before {
   content: "";
   flex: 0 0 6px;
   min-height: 30px;
   background-color: #8A33FD;
   border-radius: 10px;
}
/* ================================================================================ */
.page {
   flex: 1 1 auto;
}
/* ================================================================================ */

/* ================================================================================ */

//========= Змінні, міксіни, шаблони ==================================================================

//---------кольори----------------------------
$main-color:#40DDB6;
$second-color: #6B78E5;
$title-color: #37393F;
$text-color: #7D7D7D;
$background-color: #F4F4F4;
//$burger-color:#e6d3fe;
//$hover-color:#e6d3fe;
//----------міксін-------------------------------------
@mixin title ($title-color, $fz: toRem(40), $fw: 700, $lh: lnh(40, 48.4)) {
   font-family:"Poppins", sans-serif;
   color: $title-color;
   font-size: $fz;
   font-weight: $fw;
   line-height: $lh;
}
//--------------шаблон ----------------------------------
%text {
   color: $text-color;
   font-size: toRem(18);
   line-height: 1.46; /* 26.31px/18 */
}
%button {
   font-family: "Cabin", sans-serif;
   color: #fff;
   background-color: $second-color;
   font-size: toRem(18);
   font-weight: 600;
   border-radius: 0;
   padding: toRem(21) toRem(35) toRem(22);
   transition: all 0.3s;
   text-align: center;
}
%button--turq {
   font-family: "Cabin", sans-serif;
   color: $title-color;
   background-color: $main-color;
   font-size: toRem(18);
   font-weight: 600;
   border-radius: 0;
   padding: toRem(21) toRem(35) toRem(22);
   transition: all 0.3s;
   text-align: center;
}
%subtitle {
   color: #37393F;
   font-weight: 500;
   display: flex;
   gap: toRem(6);
   align-items: center;
   &::before {
      content: "";
      flex: 0 0 toRem(12);
      //width: toRem(12);
      height: toRem(12);
      background-color: $main-color;
      //align-self: flex-start;
      //transform: translateY(toRem(2));
   }
}

//========= Загальні стилі ==================================================================
.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
}
[class*="__container"] {
   max-width: toRem(1250);
   padding: 0 toRem(15);
   margin: 0 auto;
}
body {
   font-family: "Inter", sans-serif;
   font-size: toRem(18);
}



//Перший брейкпойнт (PC)
@media (max-width: toEm(1199.98)) {

}

//Другий (Tablet)
@media (max-width: toEm(991.98)) {

}
//Третій (Mobile)
@media (max-width: toEm(767.98)) {

}
//Четвертий, додатковий (Mobile Small)
@media (max-width: toEm(480)) {

}